<template name="devDashboard">
  <div class="row">
    <a class="btn btn-primary"
    href="{{pathFor 'createApplication'}}">
    Create Application
  </a>
</div>
<br>
<br>
<div class="row">
  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th>Applications</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each applications}}
      <tr>
        <td>
          <a href="{{ pathFor 'newApplication' }}">{{name}}</a>
        </td>

        <td class="col-sm-1"><button class="btn btn-danger" id="delete-app">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</template>