<template name="frontPage">
  <div class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h1 class="text-center">Zeema</h1>
    <p class="text-center">Virtually nobody reads terms before going to agreeing them so, it's a lie and we need to fix it.</p>
    <h2 class="text-center">
      <u>Zeema is the Gravatar for Terms</u>
    </h2>
    <h2 class="text-center">How it works</h2>

    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#whole-process" aria-controls="whole-process" role="tab" data-toggle="tab">Whole Process</a></li>
        <li role="presentation"><a href="#developer" aria-controls="developer" role="tab" data-toggle="tab">I'm a Developer</a></li>
        <li role="presentation"><a href="#end-user" aria-controls="end-user" role="tab" data-toggle="tab">I'm an End User</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="whole-process">
          <p>Let's say we've following  stakeholders</p>
          <ol>
            <li>zeema.com</li>
            <li>catsbook.com</li>
            <li>dogsbook.com</li>
            <li>john(an user)</li>
          </ol>
          <h4>The Process</h4>

          <ul>
            <li>Developers of "catsbook.com" visit <b>zeema</b> and select terms his app required</li>
            <li>We've a list of commonly used terms</li>
            <li>If needed, custom terms can be added</li>
            <li>Then "catsbook.com" will get a javascript code to paste on the catsbook.com</li>
            <li>Now john logged into "catsbook.com" it will show he has agree with "catsbook.com"'s terms and ask to manage them</li>
            <li>There will be an permanent indicator mentioning this. see: <a href="http://image.com">http://image.com</a></li>
            <li>Once he clicks the manage buton, then he'll redirected to <b>zeema</b></li>
            <li>Then he can agree into these terms</li>
            <li>After sometime, he logs into another site "dogsbooks.com"</li>
            <li>"dogsbook.com" also uses <b>Zeema</b> and it's terms are also identical with "catsbook.com"</li>
            <li>now john can see an indicator from zeema which tells it's safe to use "dogsbook.com"</li>
            <li>he can click the zeema indicator and verify it's needs</li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane active" id="developer">
          developer
        </div>
        <div role="tabpanel" class="tab-pane active" id="end-user">
          end user
        </div>
      </div>

    </div>
    
  </div>
</template>