<template name="user.dashboard">
  <div class="container">

    <div class="row row-padded">
      <ul class="list-group">
        {{#each globalTerms}}
        <li class="list-group-item">{{description}}</li>
        {{else}}
        <div style="position:relative">{{> widget_loading_indicator}}</div>
        {{/each}}
      </ul>
    </div>

    <div class="row row-padded">
      {{#each getApplications}}
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Terms of Service for "{{name}}"
            <small class="pull-right">
              <a class="btn btn-default btn-xs" href="{{pathFor 'user.manage' query=getAppManageQuery}}"><span class="glyphicon glyphicon-wrench"></span></a>
            </small>
          </h3>
        </div>
        <table class="table table-hover">
          <tbody>
            {{#each terms}}
            {{#with getTermInfo}}
            <tr class="user-manage-term">
              <td class="user-manage-term-text">{{term}}</td>
            </tr>
            {{/with}}
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/each}}
    </div>
  </div>
</template>
