/*
.user-manage-app-intro {

}
*/

.user-manage-term td.user-manage-term-text {
  padding: 15px 5px 15px 15px;
  vertical-align: bottom;
}

.user-manage-term td.user-manage-term-buttons {
  min-width: 150px;
  padding: 15px 15px 15px 5px;
  vertical-align: bottom;
  text-align: right;
}

.user-manage-footer-buttons {
  text-align: right;
}
