<template name="user.dashboard">
  <div class="container">

    {{#if globalTerms}}
    <div class="row row-padded">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Global Preferences</h3>
        </div>
        <table class="table table-hover">
          <tbody>
            {{#each globalTerms}}
            {{#with getTermInfo}}
            <tr class="user-manage-term">
              <td class="user-manage-term-text">{{term}}</td>
              <td class="user-manage-term-buttons">
                <button type="button" class="btn btn-warning btn-sm user-global-disagree-button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Remove Global</button>
              </td>
            </tr>
            {{/with}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{/if}}

    <div class="row row-padded">
      {{#each getApplications}}
      {{#if appInUse}}
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{name}}</h3>
        </div>
        <table class="table table-popup">
          <tbody>
            {{#each terms}}
            {{#with getTermInfo}}
            {{#if isGlobal}}
            {{else}}
            <tr class="user-manage-term">
              <td class="user-manage-term-text">{{term}}</td>
              <td class="user-manage-term-buttons">
                <div class="btn-group" role="group" aria-label="...">
                  {{#if isAgreed}}
                    <button type="button" class="btn btn-success btn-sm user-manage-global-button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Make Global</button>
                    <button type="button" class="btn btn-warning btn-sm user-manage-disagree-button"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Reject</button>
                  {{else}}
                    <button type="button" class="btn btn-success btn-sm user-manage-agree-button"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Accept</button>
                  {{/if}}
                </div>
              </td>
            </tr>
            {{/if}}
            {{/with}}
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</template>
