<template name="user.manage">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="list-inline small text-secondary">
          <li><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> = Accept Globally (For all apps)</li>
          <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> = Accept For "{{appName}}"</li>
          <li><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> = Reject this term</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Terms of Service for "{{appName}}"</h3>
          </div>
          <table class="table">
            <tbody>
              {{#each appTerms}}
                <tr class="user-manage-term">
                  <td class="user-manage-term-text">{{term}}</td>
                  {{#if zeemaUser}}
                  <td class="user-manage-term-buttons">
                    <div class="btn-group" role="group" aria-label="...">
                      {{#if isAgreed}}
                        <button type="button" class="btn {{#if isGlobal}}btn-success{{else}}btn-default{{/if}} btn-sm user-manage-global-button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>
                      {{/if}}
                      <button type="button" class="btn {{#if isLocalAgreed}}btn-success{{else}}btn-default{{/if}} btn-sm user-manage-agree-button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                      <button type="button" class="btn {{#if isLocalAgreed}}btn-default{{else}}btn-warning{{/if}} btn-sm user-manage-disagree-button"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
                    </div>
                  </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>

          {{#if zeemaUser}}
          {{else}}
          <div class="panel-footer user-manage-footer-buttons">
            <button class="btn btn-default btn-sm" type="button" id="login-button">Login & Manage Terms</button>
          </div>
          {{/if}}

        </div>
      </div>
    </div>

  </div>
</template>
