<template name="user.manage">
  <div class="container">

    <div class="row">
      <br>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Terms of Service for "{{appName}}"</h3>
          </div>
<!--
          <div class="panel-body user-manage-app-intro">
            APP_INTRO
          </div>
 -->
          <table class="table">
            <tbody>
              {{#each appTerms}}
                <tr class="user-manage-term">
                  <td class="user-manage-term-text">{{term}}</td>
                  {{#if zeemaUser}}
                  <td class="user-manage-term-buttons">
                    {{#if isAgreed}}
                      <button type="button" class="btn {{#if isGlobal}}btn-success{{else}}btn-default{{/if}} btn-sm user-manage-global-button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Make Global</button>
                    {{/if}}

                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn {{#if isLocalAgreed}}btn-success{{else}}btn-default{{/if}} btn-sm user-manage-agree-button" disabled="{{#if isGlobal}}disabled{{/if}}"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Accept</button>
                      <button type="button" class="btn {{#if isLocalAgreed}}btn-default{{else}}btn-warning{{/if}} btn-sm user-manage-disagree-button" disabled="{{#if isGlobal}}disabled{{/if}}"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Reject</button>
                    </div>
                  </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>

          {{#if zeemaUser}}
          {{else}}
          <div class="panel-footer user-manage-footer-buttons">
            <button class="btn btn-default btn-sm" type="button" id="login-button">Login & Manage Terms</button>
          </div>
          {{/if}}

        </div>
      </div>
    </div>

  </div>
</template>
