<template name="user.login">
  <div class="container">

    <div class="row">
      <br>
    </div>

    <div class="row">
      <form role="form" id="user-login-form">
        <legend>User Login</legend>
        <div class="form-group">
          <label for="user-email">E-mail</label>
          <input type="text" class="form-control" id="user-email" name="user-email" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

  </div>
</template>
